# Mount USB drive partitions (and whole drives without a partition table)
# with makerbase-automount@<name>.service
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z]*", ENV{ID_BUS}=="usb", ENV{ID_FS_USAGE}=="filesystem", TAG+="systemd", ENV{SYSTEMD_WANTS}+="makerbase-automount@%k.service"
